body{ 	background: url('https://christophergutt.github.io/projeto/fundo.PNG'); 
		font-family: copperplate, fantasy;
		font-size: 20px;}

#principal{ background-image: url(https://christophergutt.github.io/projeto/fundo2.PNG);
			text-align: center;}

#menu{  font-size: 30px;
		background-color:#5F5E5E;
		padding: 20px;
		text-align: center;}

#conteudo{ 	background-image: url(https://christophergutt.github.io/projeto/janela.PNG);
			color: white;
			text-align: center;}

#final{background-image: url(https://christophergutt.github.io/projeto/fundo2.PNG);
		text-align: center;}

.titulo1{width: 260px;
		background-color: white;}

.imagem{background-image: url(https://christophergutt.github.io/projeto/fundo2.PNG);
		text-align: center;}

.borda{border-style: solid;
		border-width: 18px;
		border-color: white;}



a{ 	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	color: #000000; }

h2{	color: #aa5a24;}
